/* filepath: /d:/Study/Cars93/cars93/src/Modules/AboutUs/AboutUs.css */
.about-us-section {
  background-color: rgb(219, 111, 111) !important; /* Set background color */
  color: white; /* Set text color */
  padding: 40px 20ps; /* Add padding for spacing */
  height: 220px;
}

.about-us-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white; /* Set title text color */
}

.about-us-text {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  color: white; /* Set text color */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}